/* FORM CHECKBOXES FIXES */
.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:focus {
  border-color: rgb(216 33 40 / 20%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

/* Wrong table in view all page */

/* Fix view all filter input fields */
/* {
  border-radius: 0.49rem;
  background-color: #f0f2f6;
  border: 0;
} */

/* Upgrade redbox touching the lateral sides */

main .mainContent .dropdownCountry::-webkit-scrollbar {
  width: 12px;
  background-color: #f3f2f2;
}

main .mainContent .dropdownCountry::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
}

main .mainContent .dropdownCountry::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #b6b6b6;
}
