@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f0f2f5;
  padding-right: 0 !important;
  min-height: 100vh;
}

body,
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

button:focus,
.btn:focus,
.form-control:focus,
.form-select:focus {
  outline: none;
  box-shadow: none !important;
}

header nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.8rem 1rem !important;
  padding-bottom: 0;
  box-shadow: 0px 2px 0px 0px #e4e4e4;
  background-color: #ffffff;
}

header nav .logo {
  width: 150px;
}

header nav .navbar-collapse .navbarRight {
  display: flex;
  align-items: center;
}

header nav .navbarToggler {
  border: 0;
  color: black !important;
}

header nav .navbarToggler span {
  display: block;
  width: 38px;
  height: 3px;
  margin: 0.445rem 0;
  border-radius: 20px;
  opacity: 0.8;
  background-color: black;
}

header nav .navbar-collapse .navbarRight .userBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .navbar-collapse .navbarRight .userBtn .fa-user,
header nav .navbar-collapse .navbarRight .fa-chevron-down {
  background-color: #f1f1f1;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .navbar-collapse .navbarRight .userBtn .fa-user {
  font-size: 1rem;
  margin-right: 0.7rem;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

header nav .navbar-collapse .navbarRight span {
  font-weight: 400;
  font-size: 0.9rem;
  color: #999090;
}

header nav .navbar-collapse .navbarRight .fa-chevron-down {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 0.7rem;
  margin-left: 1.2rem;
  padding-bottom: 0.1rem;
}

header nav .dropdownList .dropdownMenu {
  box-shadow: 5px 6px 5px #0000004a;
  border: 1px solid #d8d8d8;
  left: 6%;
  overflow: hidden;
  border-radius: 20px;
}

header nav .dropdownList .dropdownMenu li {
  margin: 0.1rem 0;
}

header nav .dropdownList .dropdownMenu li a {
  font-weight: 500;
  font-size: 0.8rem;
}

header nav .dropdownList .dropdownMenu li a i {
  width: 10px;
  height: 10px;
  margin-right: 0.7rem;
}

header nav .navbar-collapse .navbarNav {
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #e4e6eb;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

header nav .navbar-collapse .navbarTop {
  display: none;
}

header nav .navbar-collapse .navbarNav li {
  margin-right: 0.7rem;
}

header nav .navbar-collapse .navbarNav li a {
  display: inline-block;
  padding: 0 0.6rem;
  font-size: 1.4rem;
  color: #717273;
  position: relative;
  transition: all 0.3s ease-in-out;
}

header nav .navbar-collapse .navbarNav li a:hover {
  color: #d82128;
}

header nav .navbar-collapse .navbarNav li a.active {
  color: #d82128;
}

header nav .navbar-collapse .navbarNav li a:hover::before,
header nav .navbar-collapse .navbarNav li a.active::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: #d82128;
  transition: all 0.3s ease-in-out;
}

main .content {
  display: flex;
}

main aside .leftSideBar {
  width: 100px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding-top: 90px;
  background-color: white;
  transition: all 0.3s ease;
}

main aside .leftSideBar:hover {
  width: 200px;
}

main aside .leftSideBar span {
  display: block;
  opacity: 0;
  transition: all 0.3s ease;
}

main aside .leftSideBar:hover span {
  opacity: 1;
  display: inline;
}

main aside .leftSideBar ul {
  padding: 0;
  margin: 0;
}

main aside .leftSideBar ul li {
  list-style: none;
  margin-left: 34px;
  position: relative;
}

main aside .leftSideBar ul li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #717273;
  height: 70px;
  width: 100%;
  padding-top: 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

main aside .leftSideBar ul li a i {
  font-size: 1.2rem;
  margin-right: 0.6rem;
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
}

main aside .leftSideBar ul li a::before {
  content: "";
  position: absolute;
  right: -1px;
  top: -11px;
  width: 4px;
  border-radius: 20px;
  height: 100%;
  opacity: 0;
  background-color: #d82128;
  transition: all 0.3s ease-in-out;
}

main aside .leftSideBar ul li a.active::before,
main aside .leftSideBar ul li a:hover::before {
  opacity: 1;
}

main aside .leftSideBar ul li a.active,
main aside .leftSideBar ul li a:hover {
  color: #d82128;
}

main .mainContent {
  width: 100%;
  margin-top: calc(90px + 1rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 100px;
  margin-bottom: 1rem;
}

main .mainContent .topText {
  margin-bottom: 1.5rem;
}

main .mainContent .topText ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

main .mainContent .topText ul li {
  list-style: none;
  margin: 0 0.8rem;
}

main .mainContent .topText ul li:first-child {
  margin-left: 0;
}

main .mainContent .topText ul li i,
main .mainContent .topText ul li a,
main .mainContent .campaign1 .domainText {
  font-size: 0.9rem;
  color: #8f8f8f;
}

main .mainContent .topText ul li a {
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

main .mainContent .topText ul li a:hover,
main .mainContent ul li a.active {
  color: black;
}

main .mainContent .newNotification {
  border-radius: 0.9rem;
  background-color: white;
  margin-bottom: 1rem;
  padding: 1.2rem;
}

main .mainContent .newNotification .notificationText h5 {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

main .mainContent .newNotification .notificationText p {
  color: #8f8f8f;
  font-weight: 500;
}

main .mainContent .newNotification .textEnd {
  text-align: right;
}

main .mainContent .newNotification .createBtn {
  background-color: #d82128;
  color: white;
  border: 2px solid #d82128;
  font-weight: 400;
  padding: 0.29rem 0;
  width: 205px;
  border-radius: 7px !important;
  transition: all 0.25s ease-out;
}

main .mainContent .newNotification .createBtn:hover {
  background-color: #b50f15;
  border-color: #b50f15;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

main .mainContent .informational {
  box-shadow: 0 5px 10px -2px rgb(0 0 0 / 10%), 0 2px 2px -1px rgb(0 0 0 / 5%);
  /* box-shadow: 5px 6px 5px #0000004a; */
  border: 3px solid #d8d8d8;
  padding: 1.5rem;
  border-radius: 0.4rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

main .mainContent .informational.active,
main .mainContent .informational:hover {
  border-color: #d82128;
  color: #d82128;
}

main .mainContent .informational:hover {
  transform: translateY(-2px);
}

main .mainContent .informationalNotification {
  text-decoration: none;
  color: black;
}

main .mainContent .informational img {
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.3s linear;
}
main .mainContent .informational:hover img {
  filter: invert(50%) sepia(100%) saturate(3000%) hue-rotate(346deg)
    brightness(82%) contrast(100%);
}
main .mainContent .informational h6 {
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 0.4rem;
}

main .mainContent .informational p {
  color: #717273;
  font-size: 0.78rem;
  line-height: 1.1rem;
  margin-top: 0.3rem;
  /* font-weight: 500; */
  transition: all 0.3s ease-in-out;
}
main .mainContent .informational:hover p {
  color: #d82128;
}

.active:first-child {
  filter: invert(50%) sepia(100%) saturate(3000%) hue-rotate(346deg)
    brightness(82%) contrast(100%);
}

.alertBottom {
  color: black;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.08),
    0 4px 6px -2px rgba(0, 0, 0, 0.04);
  max-width: 350px;
  position: fixed;
  bottom: 3%;
  right: 3%;
  border-radius: 0.4rem;
  border: 3px solid #f0f2f5;
  background-color: white;
  padding-right: 1rem;
}

.alertBottom .alertText {
  display: flex;
}

.alertBottom .alertText h6 {
  font-weight: 600;
}

.alertBottom .alertText img {
  width: 45px;
  margin-right: 0.5rem;
}

.alertBottom .alertText h6,
.alertBottom .alertText p {
  font-size: 0.9rem;
}

.alertBottom .btnCLose {
  padding-top: 0.7rem;
  opacity: 0.5;
  background-image: unset;
}

.alertBottom .btnCLose i {
  font-size: 1.1rem;
}

@media (max-width: 992px) {
  header nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .mob-nav {
    right: 2%;
    top: 50%;
    box-shadow: 5px 6px 5px #0000004a;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    border-radius: 20px;
  }
  .mob-nav-show {
    display: block !important;
  }

  .mob-nav li {
    margin: 0.1rem 0;
  }

  .mob-nav li a i {
    width: 10px;
    height: 10px;
    margin-right: 0.7rem;
  }

  .mob-nav li a {
    font-weight: 500;
    font-size: 0.8rem;
  }

  header nav .dropdownList {
    display: none;
  }

  main .leftSideBar {
    transform: translateX(-110px);
    transition: all 0.4s ease;
    margin-top: 60px !important;
    padding-top: 10px !important;
  }

  header nav .navbar-collapse .navbarTop {
    display: block;
  }

  header nav .sideBarBtn {
    display: block;
  }

  .collapse:not(.show) {
    display: block;
  }

  main .mainContent {
    margin-top: calc(90px + 3rem);
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  header nav .dropdownList .dropdownMenu {
    left: 0;
  }
  main .mainContent .topText {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  main .mainContent .newNotification .textEnd {
    text-align: left;
    margin-top: 1rem;
  }

  .float-btn {
    position: fixed;
    bottom: 0%;
    width: 95%;
  }
  .notification-preview {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .notification-preview-box {
    padding: 3rem;
    background-color: #f6f6f6;
    justify-content: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 8px;
  }

  .alertBottom {
    max-width: 479px;
  }

  main .mainContent {
    padding-left: 0;
    padding-right: 0;
  }

  main .mainContent .newNotification .createBtn {
    width: 100%;
  }
}

@media (max-width: 500px) {
  main .mainContent .topText ul li a {
    font-size: 0.7rem;
  }

  main .mainContent .topText ul li {
    margin: 0 0.4rem;
  }
}
