@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f0f2f5;
  min-height: 100vh;
}

body,
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

button:focus,
.btn:focus,
.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  outline: none;
  box-shadow: none !important;
}

header nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.8rem 1rem !important;
  padding-bottom: 0;
  box-shadow: 0px 2px 0px 0px #e4e4e4;
  background-color: #ffffff;
}

header nav .logo {
  width: 150px;
}

header nav .navbar-collapse .navbarRight {
  display: flex;
  align-items: center;
}

header nav .navbarToggler {
  border: 0;
  color: black !important;
}

header nav .navbarToggler span {
  display: block;
  width: 38px;
  height: 3px;
  margin: 0.445rem 0;
  border-radius: 20px;
  opacity: 0.8;
  background-color: black;
}

header nav .navbar-collapse .navbarRight .userBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .navbar-collapse .navbarRight .userBtn .fa-user,
header nav .navbar-collapse .navbarRight .fa-chevron-down {
  background-color: #f1f1f1;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .navbar-collapse .navbarRight .userBtn .fa-user {
  font-size: 1rem;
  margin-right: 0.7rem;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

header nav .navbar-collapse .navbarRight span {
  font-weight: 400;
  font-size: 0.9rem;
  color: #999090;
}

header nav .navbar-collapse .navbarRight .fa-chevron-down {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 0.7rem;
  margin-left: 1.2rem;
  padding-bottom: 0.1rem;
}

header nav .dropdownList .dropdownMenu {
  box-shadow: 0px 5px 10px #eaeaea;
  border: 3px solid #d8d8d8;
  left: 6%;
  overflow: hidden;
  border-radius: 20px;
}

header nav .dropdownList .dropdownMenu li {
  margin: 0.1rem 0;
}

header nav .dropdownList .dropdownMenu li a {
  font-weight: 500;
  font-size: 0.8rem;
}

header nav .dropdownList .dropdownMenu li a i {
  width: 10px;
  height: 10px;
  margin-right: 0.7rem;
}

header nav .navbar-collapse .navbarNav {
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #e4e6eb;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

header nav .navbar-collapse .navbarTop {
  display: none;
}

header nav .navbar-collapse .navbarNav li {
  margin-right: 0.7rem;
}

header nav .navbar-collapse .navbarNav li a {
  color: #717273;
  display: inline-block;
  padding: 0 0.6rem;
  font-size: 1.4rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

header nav .navbar-collapse .navbarNav li a:hover {
  color: #d82128;
}

header nav .navbar-collapse .navbarNav li a.active {
  color: #d82128;
}

header nav .navbar-collapse .navbarNav li a:hover::before,
header nav .navbar-collapse .navbarNav li a.active::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: #d82128;
  transition: all 0.3s ease-in-out;
}

main .content {
  display: flex;
}

main aside .leftSideBar {
  width: 100px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding-top: 90px;
  background-color: white;
  transition: all 0.3s ease;
}

main aside .leftSideBar:hover {
  width: 200px;
}

main aside .leftSideBar span {
  display: block;
  opacity: 0;
  transition: all 0.3s ease;
}

main aside .leftSideBar:hover span {
  opacity: 1;
  display: inline;
}

main aside .leftSideBar ul {
  padding: 0;
  margin: 0;
}

main aside .leftSideBar ul li {
  list-style: none;
  margin-left: 34px;
  position: relative;
}

main aside .leftSideBar ul li a {
  color: #717273;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  height: 70px;
  width: 100%;
  padding-top: 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

main aside .leftSideBar ul li a i {
  margin-right: 0.6rem;
  font-size: 1.2rem;
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
}

main aside .leftSideBar ul li a::before {
  content: "";
  position: absolute;
  right: -1px;
  top: -11px;
  width: 4px;
  border-radius: 20px;
  height: 100%;
  opacity: 0;
  background-color: #d82128;
  transition: all 0.3s ease-in-out;
}

main .mainContent .links ul li a.active::before,
main .mainContent .links ul li a:hover:before,
main aside .leftSideBar ul li a:hover::before {
  opacity: 1;
}

main .mainContent .links ul li a.active,
main aside .leftSideBar ul li a:hover {
  color: #d82128;
}

main .mainContent {
  width: 100%;
  margin-top: 64px;
  margin-left: 100px;
  margin-bottom: 1rem;
}

main .mainContent .upgradePlanTopBgColor {
  background-color: #d82128;
  padding: 2rem 0 0 0;
  margin-top: 0.7rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: calc(65px + 2.3rem);
  border-radius: 0.9rem;
}

main .mainContent .topText {
  margin: 2rem 0 0 2rem;
}

main .mainContent .topText ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

main .mainContent .topText ul li {
  list-style: none;
  margin: 0 0.8rem;
}

main .mainContent .topText ul li i,
main .mainContent .topText ul li a {
  color: #8f8f8f;
}

main .mainContent .topText ul li a.active,
main .mainContent .topText ul li a:hover {
  color: black;
}

main .mainContent .topText ul li a {
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

main .mainContent .topText ul li:first-child {
  margin-left: 0;
}

main .mainContent .campaign1 .domainText,
main .mainContent .upgradePlanTopBgColor .whiteText {
  font-size: 0.9rem;
  color: white;
}

main .mainContent .upgradePlanTopBgColor .campaignText {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

main .mainContent .switchBtn {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .mainContent .switchBtn input {
  cursor: pointer;
}

main .mainContent .switchBtn input[type="checkbox"] {
  position: relative;
  width: 55px;
  height: 14px;
  border-color: #ffbabd;
  background-color: #ffbabd;
  border-radius: 20px;
  background-image: unset;
  transition: all 0.3s ease-in-out;
}

main .mainContent .switchBtn input:checked[type="checkbox"] {
  background-color: white;
  border-color: white;
}

main .mainContent .switchBtn input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -1px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

main .mainContent .switchBtn input:checked[type="checkbox"]::before {
  left: -2px;
  background-color: #ffbabd;
}

main .mainContent .accountPlanCard {
  border-color: #cbcbcb;
  border-width: 2px;
  border-radius: 0.9rem;
  padding: 2.4rem 2.3rem;
  transform: translateY(-65px);
  transition: all 0.25s ease;
}

main .mainContent .accountPlanCard:hover {
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  transform: translateY(-70px);
}

main .mainContent .accountPlanCard ul {
  padding: 0;
  margin: 0;
}

main .mainContent .accountPlanCard ul li {
  list-style: none;
  margin: 0.6rem 0;
  font-weight: 400;
  font-size: 0.82rem;
}

main .mainContent .accountPlanCard .lineThrought {
  text-decoration: line-through;
}

main .mainContent .textBold {
  font-weight: 600;
}

main .mainContent .accountPlanCard ul li i {
  margin-right: 0.5rem;
}

main .mainContent .accountPlanCard ul li .fa-circle-check {
  color: #40da6d;
}

main .mainContent .accountPlanCard ul li .fa-circle-xmark {
  color: #d82128;
}

main .mainContent .accountPlanCard .cardPackageText .cardTop {
  text-align: center;
}

main .mainContent .accountPlanCard .cardPackageText .cardTop h5 {
  font-weight: 600;
  font-size: 1.6rem;
  color: black;
}

main .mainContent .accountPlanCard .cardPackageText .usdPrice {
  font-size: 1.7rem;
  font-weight: 600;
  color: #044389;
  padding: 1.8rem 0;
}

main .mainContent .accountPlanCard .cardPackageText .usdPrice sup {
  font-weight: 500;
  font-size: 0.9rem;
  top: -0.9em;
  left: 0.1rem;
}

main .mainContent .accountPlanCard .cardBtn {
  color: #d82128;
  border: 2px solid #d82128;
  font-weight: 400;
  padding: 0.29rem 0;
  width: 205px;
  border-radius: 7px;
  margin-bottom: 1.8rem;
  transition: all 0.25s ease-out;
}

main .mainContent .accountPlanCard .cardBtn:hover {
  color: white;
  background-color: #d82128;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

main .mainContent .upgradePackageCards {
  position: relative;
}

main .mainContent .upgradePackageCards .nextAndPrev button {
  color: white;
  position: absolute;
  top: 40%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 0;
  z-index: 2;
}

main .mainContent .upgradePackageCards .nextAndPrev .prevBtn {
  left: 2%;
  background-color: #8f8f8f;
}

main .mainContent .upgradePackageCards .nextAndPrev .nextBtn {
  right: 2%;
  background-color: #044389;
}

main {
  overflow: hidden;
}

@media (max-width: 992px) {
  header nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  header nav .dropdownList {
    display: none;
  }

  main .leftSideBar {
    transform: translateX(-110px);
    transition: all 0.4s ease;
    margin-top: 60px !important;
    padding-top: 10px !important;
  }

  header nav .navbar-collapse .navbarTop {
    display: block;
  }

  .collapse:not(.show) {
    display: block;
  }

  header nav .sideBarBtn {
    display: block;
  }

  header nav .dropdownList .dropdownMenu {
    left: 0;
  }

  main .mainContent {
    margin-top: calc(90px + 3rem);
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  main .mainContent .accountPlanCard {
    margin-bottom: 1rem;
  }
  main .mainContent .topText {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  main .mainContent .topText ul li a {
    font-size: 0.7rem;
  }

  main .mainContent .topText ul li {
    margin: 0 0.4rem;
  }
}

@media (max-width: 678px) {
  main .mainContent .upgradePlanTopBgColor {
    margin-left: 0;
    margin-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
